body {
  color: white;  /* Definindo a cor do texto como branco */

  background: black; /* Definindo o fundo da página como preto */

  margin:0px;   /*remove o espaço para ficar proximo a borda*/

  font-family: "Chakra Petch", sans-serif; /* Definindo a fonte principal como "Chakra Petch"/ altera a fonte */

  margin-bottom: 100px;    /* Definindo a margem inferior como 100px (distância da parte inferior da página) */
}
